*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.logoContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4rem;
}

.modeText {
    font-size: 1.5rem;
}

.bgLightMode {
    background-color: whitesmoke; 
    padding: 1rem;
    min-height: 100vh;
    overflow: hidden;
}

.bgDarkMode {
    background-color: rgb(35, 35, 46);
    padding: 1rem;
    color: white;
    min-height: 100vh;
    overflow: hidden;
}

.header {
    font-size: 5rem;
}

.firstLetter {
    color:dodgerblue;
    font-weight: bolder;
    font-size: 5rem;
}

h1 {
    font-size: 5rem;
}

span {
    font-size: 3rem;
}

p {
    font-size: 1.8rem;
}

.cardContainerLightMode {
    max-width: 30rem;
    max-height: 39rem;
    width: 90vw;
    height: 45rem;
    border-radius: 1rem;
    margin: 20px auto 0;
    box-shadow: 0 0 5px 0 white;
    background-color:hsl(210, 89%, 85%);
}

.cardContainerDarkMode {
    max-width: 30rem;
    max-height: 39rem;
    width: 90vw;
    height: 45rem;
    border-radius: 1rem;
    margin: 20px auto 0;
    box-shadow: 0 0 5px 0 white;
    background-color:rgb(30, 55, 80);
}

.imgContainer {
    display: flex;
    justify-content: space-evenly;
}

.tempContainer {
    display: flex;
    align-items: flex-start;
}

.temp {
    font-size: 12rem;
}

.unitDegree {
    font-size: 3rem;
    margin-top: 5rem;
}

.weatherDetails {
    padding: 1rem;
   
    margin-top: -3rem;
}

.inputContainer {
    position: relative;
    max-width: 300px;
    width: 90vw;
    margin: 2rem auto 0;
}

.inputField {
    font-size: 1.8rem;
    padding: 0.5rem;
    border-radius: 1rem;
    outline: none;
    border: 1px white;
    width: 100%;
    align-self: center;
    display: flex;
}

.inputField:focus {
    box-shadow: 0 0 10px 0 dodgerblue;
}

.footer {
    position: fixed;
    bottom: 0;
    right: 10px;
    font-size: large;
}

@media screen and (max-width: 679px){
    .modeText {
        display: none;
    }
    .logoContainer {
        margin-bottom: 2rem;
    }
}
