*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.logoContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modeText {
    font-size: 1.5rem;
}

.bgLightMode {
    background-color: hsl(0, 0%, 93%);
    padding: 1rem;
    min-height: 100vh;
    overflow: hidden;
}

.bgDarkMode {
    background-color:rgb(36, 46, 56);
    padding: 1rem;
    color: white;
    min-height: 100vh;
    overflow: hidden;
}

.header {
    font-size: 3rem;
}

.firstLetter {
    color:dodgerblue;
    font-weight: bolder;
    font-size: 5rem;
}

h1 {
    font-size: 5rem;
}

span {
    font-size: 3rem;
}

p {
    font-size: 1.8rem;
}

.cardContainerLightMode {
    max-width: 40rem;
    max-height: 80rem;
    width: 90vw;
    height: 100vh;
    border-radius: 5rem;
    margin: 20px auto 0;
    box-shadow: 0 0 5px 0 white;
    background-color: hsl(0, 0%, 97%);
    padding: 1rem;
}

.cardContainerDarkMode {
    max-width: 40rem;
    max-height: 80rem;
    width: 90vw;
    height: 100vh;
    border-radius: 5rem;
    margin: 20px auto 0;
    box-shadow: 0 0 5px 0 white;
    background-color:rgb(36, 46, 56);
    padding: 1rem;
}

.inputContainer {
    position: relative;
    max-width: 350px;
    width: 85vw;
    margin: auto;
    padding-top: 2rem;
    height: 50px;
}

.inputField {
    font-size: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    outline: none;
    border: 1px white;
    width: 100%;
    align-self: center;
    display: flex;
    overflow: hidden;
}

.inputField:focus {
    box-shadow: 0 0 10px 0 dodgerblue;
}

.tempnConditionDisplay {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px;
    align-items: center;
    grid-template-areas: 'tp ds ds';
    /* border: 1px green solid; */
}

.tempContainer {
    display: flex;
    grid-area: tp;
    grid-column: 1 / 2;
    place-content: center;
}

.temp {
    font-size: 12rem;
}

.unitDegree {
    font-size: 5rem;
    margin-top: 2rem;
}

.weatherDescription {
    grid-area: ds;
    border-left: 2px solid black;
    height: 60px;
    grid-column: 2 / 4;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.styleCondition {
    font-size: 2.2rem;
    font-weight: bolder;
    text-transform: capitalize;
}

.styleDate {
    font-size: 1.5rem;
}

.weatherIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -4rem;
    z-index: 999;
    height: 210px;
    /* border: 1px red solid; */
}

.weatherIcon img {
    max-width: 150px;
    max-height: 150px;
    width: 100%;
}

.recoInfo {
    font-size: 1rem;
}

.wdLightMode {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 20px, auto, auto;
    grid-template-areas: 'hd hd', 'dd dd', 'dd dd';
    background-color: hsl(0, 0%, 75%);
    padding: 1rem;
    border-radius: 2rem;
    margin-top: -2rem;
    z-index: -999;
 }

 .wdDarkMode {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 20px, auto, auto;
    grid-template-areas: 'hd hd', 'dd dd', 'dd dd';
    background-color:rgb(36, 46, 60);
    border: 0.5px solid white;
    padding: 1rem;
    border-radius: 2rem;
    margin-top: -2rem;
 }
 
 .countryStyle {
     grid-area: hd;
     grid-column: 1 / 3;
     grid-row: 1 / 2;
     text-align: center;
 }

.weatherDetailsItems {
    grid-area: dd;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.wDicons {
    display: flex;
    align-items: "center";
     gap: 5px;
}

.forcastText {
    text-align: center;
    font-size: x-large;
   border-bottom: 2px solid red;
   width: 180px;
    padding: 1rem;
    margin: auto;
    margin-bottom: 1rem;
}

.forcastCardContainer {
    border-radius: 1rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    margin-right: 1rem;
    text-wrap: nowrap;
    line-height: 0.1;
    gap: 1.1rem;
}

.forcastDateStyle {
    font-size: 1rem;
}

.forcastHolder {
    display: flex;
   align-items: center;
   justify-content: space-evenly;
   scroll-behavior: smooth;
   overflow-x: scroll;
}

.footer {
    position: fixed;
    bottom: 0;
    right: 10px;
    font-size: large;
}

.searchIcon:hover {
    fill: red;
}

@media screen and (max-width: 400px){
    .cardContainerLightMode {
        overflow-x: scroll;
    }
    .cardContainerDarkMode {
        overflow-x: scroll;
    }
}

@media screen and (max-width: 401px){
    .modeText {
        display: none;
    }
    .logoContainer {
        margin-bottom: 2rem;
    }
    .cardContainerLightMode {
        margin-top: 30px;
    }
    .cardContainerDarkMode {
        margin-top: 30px;
    }
}
